<h1>Create Item</h1>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="qty" placeholder="Quantity">
  <input type="submit" value="Add Item">
</form>
<br>
<a href="/">BACK</a>
