<h1>Welcome to your Sinatra Shopping List!</h1>
<h2>Let Ol' Blue Eyes help you fill your cart.</h2>

<h3><%= @message %></h3>

<input type="button" onclick="window.location.href='/login'" value="Login">
<input type="button" onclick="window.location.href='/items'" value="Items">
<input type="button" onclick="window.location.href='/logout'" value="Logout">
