<h1>You must be logged in for this action.</h1>
<input type="button" onclick="window.location.href='/'" value="Home">
<input type="button" onclick="window.location.href='/login'" value="Login">
<input type="button" onclick="window.location.href='/logout'" value="Logout">
