<h1>You must be logged in for this action.</h1>
<input type="button" id="homebtn" onclick="window.location.href='/'" value="Home">
<input type="button" id="loginbtn" onclick="window.location.href='/login'" value="Login">
<input type="button" class="logoutbtn" onclick="window.location.href='/logout'" value="Logout">
