<input type="button" class="logoutbtn" onclick="window.location.href='/logout'" value="Logout"><h1 id="items_head">Items</h1>


<table>

  <thead>
    <tr>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>

      <tr>
        <td scope="col">
          <%= item.name %>
        </td>
        <td scope="col" class="qty">
          <%= item.qty %>
        </td>
        <td>
          <input type="button" id="updatebtn" onclick="window.location.href='items/update/<%= item.id %>'" value="Update">
        </td>
        <td>
          <input type="button" id="removebtn" onclick="window.location.href='items/destroy/<%= item.id %>'" value="Remove">
        </td>
      </tr>

    <% end %>

  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">

      </td>
    </tr>
  </tfoot>

</table>
<br>

<input type="button" id="add_anchor" onclick="window.location.href='/items/create'" value="Add Item">
<input type="button" id="homebtn" onclick="window.location.href='/'" value="Home">
